@font-face {
  font-family: Raleway;
  src: url('fonts/Raleway.ttf');
}

@font-face {
  font-family: JosefinSlab;
  src: url('fonts/JosefinSlab.ttf')
}

/* @import 'https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway'; */

* {
  font-family: 'Raleway';
  color: #ffffff;
  text-align: center;
  }

body {
  width: 90%;
  margin: 0 auto;
  background-color: #fc9a31;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JosefinSlab';
  text-shadow: 0px 3px 0 #e87c1d;
}

.content {
  overflow: auto;
}

#nav, #intro, #footer, .content {
  margin: 1%;
}

li {
  display: inline;
  padding: 0.5em;
}

#footer>p {
  color: #ffcd6b;
}

#nav, #footer {
  background-color: #e87c1d;
  border-radius: 0.5em;
  padding: 0.5em 0;
  box-shadow: inset 0px 0px 3em #df6b16;
}

li>a {
  text-decoration: none;
  color: #ffb76b;
  transition: color 0.2s linear;
}

li>a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1>a {
  text-shadow: 0px 3px 0 #e87c1d;
  font-family: JosefinSlab;
  text-decoration: none;
}

::selection {
  color: #ffcd6b;
  background-color: #e87c1d;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px;
}

.section {
    border-radius: 0.5em;
    background-color: #fc8d25;
    padding: 0.5em;
    box-shadow: inset 0px 0px 3em #df6b16;
}

*>strong {
    color: #ffcd6b;
    background-color: #dc8709;
    border-radius: 0.4em;
    padding: 0.15em;
}
